body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.attribution {
    font-size: 11px; 
    text-align: center;
    }
   .attribution a { 
       color: hsl(228, 45%, 44%); 
   }
   .container{
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 0;
       height: 100vh;
     background-color:  hsl(233, 47%, 7%);
     
   }
   div img{
       width: 300px;
       position: absolute;
       top: 350px;
       filter: hue-rotate(23);  
   }
   .insight  {
    background-color: hsl(244, 38%, 16%);
    padding: 40px;
    
   }
   table {
    width: 100%;
    text-align: left;
    padding: 2px;
   }
   table th{
    font-size: 20px;
    color: hsla(0, 0%, 100%, 0.75);
   }
   table td{
    text-transform: uppercase;
    font-size: 10px;
    color: hsla(0, 0%, 100%, 0.6)
    ;
   }
   section h1 {
    font-size: 35px;
   }
   .sight {
    line-height: 1px;
 
   }